*{
    background: linear-gradient(to right, rgb(236, 255, 232), rgb(158, 152, 210));;
}

.title{
    text-align: center;
    color: rgb(89, 0, 55);
    font-family:'Times New Roman', Times, serif
}


.restaurant-1{
    outline: 2px solid rgb(89, 0, 55);
    display: block;
    width: 35%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(89, 0, 55);
    font-size: 20px;
    margin-left: 100px;
}

.restaurant-two{
    outline: 2px solid rgb(89, 0, 55);
    display: block;
    width: 35%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(89, 0, 55);
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 210px;

}

.france{
    outline: 2px solid rgb(89, 0, 55);
    display: block;
    width: 35%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(89, 0, 55);
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 300px;
}

.italy{
    outline: 2px solid rgb(89, 0, 55);
    display: block;
    width: 35%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(89, 0, 55);
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 400px;
}

.belarus{
    outline: 2px solid rgb(89, 0, 55);
    display: block;
    width: 35%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(89, 0, 55);
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 500px;
}

.russia{
    outline: 2px solid rgb(89, 0, 55);
    display: block;
    width: 35%;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(89, 0, 55);
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 670px;
}